body {
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  background-color: #eeeeee;
  padding-top: 50px;
  margin-bottom: 80px;
}

.top-header {
  height: 65px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 160px;
  height: 65px;
  float: left;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.main-menu {
  width: 870px;
  padding-top: 25px;
  margin: 0 auto;
  float: left;
}

.main-menu ul {
  padding: 0;
  font-size: 0px;
}

.main-menu li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 46px;
  font-size:14px;
}

.main-menu li:first-child {
    padding-left: 202px;
}

.main-menu li:last-child {
  margin-right: 0px;
}

.main-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

nav a:hover {
  color: #fb565a;
}

nav a:active {
  color: #bcbcbc;
}

nav a.active {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 13px;
}

.cart {
  width: 130px;
  padding-top: 25px;
  vertical-align: middle;
  text-align: right;
  float: right;
}

.cart-link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.cart-link:hover {
  color: #fb565a;
}

.cart-link:active {
  color: #bcbcbc;
}

.cart .active {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 13px;
}

.btn {
  display:block;
  width:240px;
  padding:16px 0;
  margin-top:25px;
  font-size:16px;
  line-height: 18px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  font-weight: 400;
  text-decoration:none;
  background:#fb565a;
  border-radius:3px;
}

.btn:hover {
  background: #e74246;
}

.btn:active {
  background: #d7373b;
  color: #e38486;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.service-item > .btn {
  width: 160px;
}

.btn-green {
  background:#00ca74;
}

.btn-green:hover {
  background:#00bc6c;
}

.btn-green:active {
  background: #00aa62;
  color: #74c69a;
  box-shadow: inset 0 3px 0 0 #009958;
}

.btn-yellow {
  background:#efc84a;
}

.btn-yellow:hover {
  background:#eab534;
}

.btn-yellow:active {
  background: #e5a722;
  color: #edc47c;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.slider{
    position:relative;
    width:1160px;
    height:431px;
    margin:0 auto;
}

.slider input[type=radio] {
    position:absolute;
    opacity:0;
}

.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}

.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background:#c1c1c1;
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.slide-text{
    width:550px;
    padding-top: 10px;
    padding-bottom: 14px;
    font-size: 16px;
    line-height: 24px;
}

.slide-title{
    margin-top: 68px;
    margin-bottom: 5px;
    font-size:55px;
    line-height:55px;
    font-weight:700;
    color:black;
}

.slide-title > p {
  margin-top: 4px;
}

.slide .btn{
    display:block;
    width:240px;
    padding:16px 0;
    margin-top:25px;
    font-size:16px;
    line-height: 18px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    font-weight: 400;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}

.slide:nth-child(1){
    background-image:url('../img/slider-1.jpg');
    background-repeat:no-repeat;
    background-position:100%;
}

.slide:nth-child(2){
    background-image:url('../img/slider-2.jpg');
    background-repeat:no-repeat;
    background-position:100%;
}

.slide:nth-child(3){
    background-image:url('../img/slider-3.jpg');
    background-repeat:no-repeat;
    background-position:100%;
}

.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 115px;
  margin: 0px;
}

.service-items {
  border-bottom: 2px solid #eeeeee;
  padding: 0;
}

.service-item  {
  float: left;
  width: 300px;
  margin-right: 100px;
  padding-bottom: 80px;
}

.service-item:last-child {
  margin-right: 0;
}

.service-title {
  margin-top: 23px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

.service-description {
  padding: 0;
  line-height: 1.5;
  margin-bottom: 33px;
}

.description-block {
  margin-top: 40px;
  margin-bottom: 49px;
}

.description-left {
  width: 660px;
  float: left;
}

.description-header {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  padding-top: 5px;
}

.description-text {
  padding-top: 2px;
  line-height: 1.5;
}

.description-little-header {
  font-size: 16px;
  line-height: 1.5px;
  text-transform:uppercase;
  font-weight: 700;
  padding-top: 33px;
  margin-bottom: 29px;
}

.description-list {
  padding: 0;
  padding-top: 8px;
  margin: 0;
}

.description-list-item {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 24px;
  font-weight: 400;
}

.description-list-item::before {
  display: inline-block;
  content: "";
  background: #fc6f73;
  width: 25px;
  height: 2px;
  margin-left: 1px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.description-right {
  width: 360px;
  float: right;
}

.description-little-header2 {
  font-size: 16px;
  line-height: 1.5px;
  text-transform:uppercase;
  font-weight: 700;
  text-align:center;
  padding: 26px 0px 35px 3px;
}

.description-right ul {
  padding: 0px;
  font-size: 0px;
}

.description-right li {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-right: 10px;
}

.description-right li:nth-last-child {
  margin-right: 0px;
}

li>span {
    font-size: 45px;
    font-weight: 700;
  }

span>sup {
    line-height: 10px;
    font-size: 27px;
}

li>p {
  font-weight: 400;
  line-height: 18px;
}

.partners {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 80px;
    padding-top: 46px;
    padding-bottom: 44px;
    text-align: center;
    font-size: 0px;
  }

.partner {
  width: 298px;
  display: inline-block;
  vertical-align: middle;

}

.partner > img {
  text-align: center;
  opacity: 0.2;
}

.partner::after {
  padding: 0;
  margin-left: 50px;
  margin: 0;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.partner:last-child::after {
  display:none;
}

.partner:first-child {
  width: 279px;
}

.partner:last-child {
  width: 279px;
  margin-right: 0;
}

.partner >img:hover {
  opacity: 1;
}

.partner >img:active {
  opacity: 0.1;
}

.vertical-line {
  position: relative;
  top: 64px;
  float:left;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.filters {
  width: 300px;
  float: left;
}

.sorting-settings .sorting-title {
  float: left;
  width: 150px;
  margin-right: 50px;
}

.sorting-settings ul {
  float: left;
  width: 300px;
  padding: 0;
  margin: 0;
  font-size: 0px;
}

.sorting-settings li {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}

.sorting-settings li:last-child {
  margin-right: 0px;
}

.arrows {
  float: right;
  width: 50px;
  height: 50px;
  background: red;
}

.catalog {
  width: 760px;
  float: right;
}

.catalog-items {
  padding: 0px;
  font-size: 0px;
  width: 760px;
}

.catalog-item {
  width: 358px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 40px;
  border: 1px solid #e9e9e9;
  margin-bottom: 35px;
}


.catalog-item:nth-child(2n) {
  margin-right: 0px;
}

.pagination {
  margin-top: 25px;
  margin-bottom: 60px;
  padding: 0px;
  font-size: 0px;
}

.pagination li {
  width: 50px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 11px;
}

.pagination .next-page {
  width: 260px;
}

.map {
  height: 307px;
  padding: 55px 0px;
  background: gray url("../img/map.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts {
  width: 269px;
  padding: 34px 0px 0px 50px;
  background: white;
  padding-bottom: 47px;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contacts-adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-left: 2px;
  padding-top: 7px;
}

.contacts-telephone {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-left: 2px;
  padding-top: 2px;
  margin-bottom: 37px;
}

.contacts > .btn {
  width: 219px;
  margin-top: 12px;

}

.social-btns {
  font-size: 0px;
  width: 276px;
  float: left;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 0px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 79px;
  height: 79px;
  background: #e1e1e1;
  border-radius: 50%;
  margin-right: 12px;
}

.social-btn:hover {
  background: #e74246;
}

.social-btn:active {
  background: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.footer-promo {
  width: 700px;
  float: left;
}

.footer-promo-header {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 76px 0px 2px 125px;
}

.footer-promo-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 9px;
  margin-left: 124px;
}

.cost-plain-text {
  width: 80px;
}

.popup {
  width:960px;
  border: 1px solid black;
  margin: 0 auto;
}

.popup-top {
  position:relative;
}

.fields-inline {
  width: 765px;
  padding-top: 70px;
  font-size: 0px;
}

.field-description {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin-right: 40px;
}

.field-description:last-child {
  margin-right: 0px;
}

.exit {
  position:absolute;
  top: 0px;
  right: 0px;
}

.dispno {
  display: none;
}
