body {
  font-size: 14px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  background-color: #eeeeee;
  padding-top: 50px;
  margin-bottom: 80px;
}

.top-header {
  height: 65px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 160px;
  height: 65px;
  float: left;
}

.main-menu {
  width: 870px;
  padding-top: 33px;
  margin: 0 auto;
  float: left;
}

.main-menu ul {
  padding: 0px;
  font-size: 0px;
}

.main-menu li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 49px;
  font-size:14px;
}

.main-menu li:first-child {
    padding-left: 202px;
}

.main-menu li:last-child {
  margin-right: 0px;
}

.cart {
  width: 130px;
  padding-top: 33px;
  vertical-align: middle;
  text-align: right;
  float: right;
}

.slider-block {
  height: 430px;
}

.slider-content-left {
    width: 400px;
    float: left;
}

.slider-content-right {
  width: 760px;
  float: right;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 115px;
  margin: 0px;
}

.service-items {
  border-bottom: 2px solid #eeeeee;
  padding: 0 30px;
}

.service-item  {
  float: left;
  width: 300px;
  margin-right: 100px;
  padding-bottom: 80px;
}

.service-item:last-child {
  margin-right: 0;
}

.description-left {
  width: 700px;
  float: left;
}

.description-right {
  width: 360px;
  float: right;
}

.description-right ul {
  padding: 0px;
  font-size: 0px;
}

.description-right li {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.partners {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 80px;
}

.partner {
  width:280px;
  height: 180px;
  float: left;
  opacity: 0.2;
}

.partner:last-child {
  margin-right: 0;
}

.filters {
  width: 300px;
  float: left;
}

.sorting-settings .sorting-title {
  float: left;
  width: 150px;
  margin-right: 50px;
}

.sorting-settings ul {
  float: left;
  width: 300px;
  padding: 0;
  margin: 0;
  font-size: 0px;
}

.sorting-settings li {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}

.sorting-settings li:last-child {
  margin-right: 0px;
}

.arrows {
  float: right;
  width: 50px;
  height: 50px;
  background: red;
}

.catalog {
  width: 760px;
  float: right;
}

.catalog-items {
  padding: 0px;
  font-size: 0px;
  width: 760px;
}

.catalog-item {
  width: 358px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 40px;
  border: 1px solid #e9e9e9;
  margin-bottom: 35px;
}


.catalog-item:nth-child(2n) {
  margin-right: 0px;
}

.pagination {
  margin-top: 25px;
  margin-bottom: 60px;
  padding: 0px;
  font-size: 0px;
}

.pagination li {
  width: 50px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 11px;
}

.pagination .next-page {
  width: 260px;
}

.map {
  height: 318px;
  padding: 55px 0px 55px 0px;
  background: gray url("../img/map.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts {
  width: 320px;
  padding:50px;
  background: white;
}

.social-btns {
  font-size: 0px;
  width: 260px;
  float: left;
  padding-top: 70px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  background:grey;
  border-radius: 50%;
}

.footer-promo {
  width: 545px;
  float: right;
}

.footer-promo-header {
  font-size: 36px;
  line-height: 36px;
}

.footer-promo-text {
  font-size: 16px;
  line-height: 22px;
}

.cost-plain-text {
  width: 80px;
}

.popup {
  width:960px;
  border: 1px solid black;
  margin: 0 auto;
}

.popup-top {
  position:relative;
}

.fields-inline {
  width: 765px;
  padding-top: 70px;
  font-size: 0px;
}

.field-description {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin-right: 40px;
}

.field-description:last-child {
  margin-right: 0px;
}

.exit {
  position:absolute;
  top: 0px;
  right: 0px;
}

.dispno {
  display: none;
}
